/* COMMON RULES */
body {
  font-family: "Nunito", sans-serif;
}

/* HEADER */

.header {
  width: 100%;
  height: 4rem;
  display: flex;
}

.logo-happycow {
  width: 160px;
  height: 30;
  object-fit: cover;
  margin-top: 1rem;
  margin-left: 2rem;
}

.menu {
  display: flex;
  width: 50%;
  margin-left: 2rem;
  margin-top: 2rem;
}

.menu p {
  margin-right: 1rem;
  font-size: 18px;
  font-weight: bold;
  color: #616161;
}

.right-part {
  margin-top: 10px;
  margin-left: 25rem;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.left-part button {
  margin-left: 1rem;
}

.add {
  height: 3rem;
  width: 7rem;
  border: 1px solid #7b4ec3;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  color: #7b4ec3;
  font-size: 16px;
  margin-right: 10px;
}

.signup {
  height: 3rem;
  width: 7rem;
  border: 1px solid #7b4ec3;
  border-radius: 5px;
  background-color: #7b4ec3;
  font-weight: bold;
  color: white;
  font-size: 16px;
  margin-right: 10px;
}

.login {
  height: 3rem;
  width: 7rem;
  border: 1px solid #7b4ec3;
  border-radius: 5px;
  background-color: #7b4ec3;
  font-weight: bold;
  color: white;
  font-size: 16px;
  margin-right: 10px;
}
/* HOME */

.top {
  width: 100%;
  height: 19rem;
}

.main-image {
  width: 100%;
  height: 19rem;
  object-fit: cover;
  position: absolute;
}

h1 {
  font-size: 36px;
  color: black;
  font-weight: bold;

  position: relative;
  text-align: center;
  top: 70px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

/* CARROUSSEL 1 */

.main {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;

  /* Pour IE et Edge  */
  -ms-overflow-style: none;
  /* Pour Firefox */
  scrollbar-width: none;
}

.main::-webkit-scrollbar {
  display: none;
}

.category1 {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.see-all {
  margin-top: 1rem;
  color: #7b4ec3;
}

.container {
  padding-left: 11rem;
  padding-right: 11rem;
  margin-right: auto;
  margin-left: auto;
}

.restaurant-link {
  text-decoration: none;
}

/* CARROUSSEL 2 */

.category2 {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.main-10 {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  flex-shrink: 0;

  /* Pour IE et Edge  */
  -ms-overflow-style: none;
  /* Pour Firefox */
  scrollbar-width: none;
}

.main-10::-webkit-scrollbar {
  display: none;
}

.see-10 {
  margin-top: 1rem;
  color: #7b4ec3;
  font-weight: bold;
}

.best-link {
  text-decoration: none;
}
/* RESTAURANTS CARDS */

.restaurants-cards {
  text-decoration: none;
  height: 450px;
  margin-right: 1rem;
  width: 271px;
  flex-shrink: 0;
}

.carroussel {
  height: 450px;
  width: 100%;
  margin-right: 1rem;
  flex-shrink: 0;
}
.restaurant-picture {
  width: 100%;
  height: 11rem;
  object-fit: cover;
  border-radius: 10px;
  /* width: calc(100% / 4 - 48px / 3); */
}

.icons-picture {
  width: 100%;
}

.restaurants-title {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: #4d9041;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.description {
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  margin-top: 20px;
  color: #444444;
  font-size: 16px;
  line-height: 24px;
}

.rating {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
}

.rating-top {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
}

.rating p,
.rating-top {
  margin-right: 10px;
  color: #999999;
  font-size: 14px;
}

/* RESTAURANTS TOP CARDS */

.restaurants-top-cards {
  /* height: 350px; */
  margin-right: 1rem;
  width: calc(100% / 4 - 48px / 3);
  flex-shrink: 0;
}

.restaurant-top-picture {
  width: 100%;
  height: 11rem;
  object-fit: cover;
  border-radius: 10px;
}

.restaurants-top-title {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 10%;
  color: #4d9041;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.pictures-condition {
  width: 272px;
  margin-right: 30px;
}
/* INPUT */

.form {
  position: relative;
  text-align: center;
  top: 90px;
  display: flex;
  justify-content: center;
}

.input-search {
  width: 100%;
  height: 48px;
}

input::placeholder {
  color: lightgrey;
  border: "none";
}

.submit-button {
  background-color: #7b4ec3;
  border: none;
  color: white;
  height: 54px;
  text-align: center;
}

.research-tab {
  width: 500px;
  height: 500px;
  border: 1px solid red;
}

/* INPUT ALL */

.input-all {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.form-all {
  display: flex;
}

.input-search-all {
  width: 90%;
  height: 30px;
  text-align: center;
}

.onsubmit-button {
  background-color: #7b4ec3;
  border: none;
  color: white;
  height: 36px;
  text-align: center;
}

/* PAGE RESTAURANT */

.pagination {
  width: 100%;
}

.header-restaurant {
  height: 5rem;
}

.container {
  padding-left: 15%;
  padding-right: 15%;
}
.left-part {
  text-align: center;
  padding-left: 15%;
  box-sizing: border-box;
  width: 75%;
  height: 100%;
}

.right-part-header {
  width: 25%;
  text-align: center;
  padding-right: 10%;
  box-sizing: border-box;
}

.icon-details {
  display: flex;
  width: 70%;
  height: 100%;
}

.button {
  width: 30%;
  text-align: end;
  margin-top: 10px;
}

.right-details {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: black solid 1px;

  margin-right: 26rem;
}

.add-review {
  height: 3rem;
  width: 9rem;
  border: 1px solid #7b4ec3;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  color: #7b4ec3;
  font-size: 16px;
  margin-right: 10px;
}

.add-photos {
  height: 3rem;
  width: 9rem;
  border: 1px solid #7b4ec3;
  border-radius: 5px;
  background-color: #7b4ec3;
  font-weight: bold;
  color: white;
  font-size: 16px;
}

.line-review {
  display: flex;
}

.line-photos {
  display: flex;
}

.add-review-bis {
  height: 3rem;
  width: 9rem;
  border: 1px solid #7b4ec3;
  border-radius: 5px;
  background-color: white;

  color: #7b4ec3;
  font-size: 16px;
  margin-right: 10px;
}

.add-photos-bis {
  height: 3rem;
  width: 9rem;
  border: 1px solid #7b4ec3;
  border-radius: 5px;
  background-color: #7b4ec3;

  color: white;
  font-size: 16px;
}

.line-review-bis {
  display: flex;
}

.line-photos-bis {
  display: flex;
}

.button-bis {
  margin-top: 30px;
  height: 20%;
  margin-bottom: 30px;
}

.icons-details {
  display: flex;
  height: 5rem;
  width: 100%;
}

.pictures {
  display: flex;
  width: 65%;
  height: 100%;

  margin-right: 10px;
}

.pictures-restaurant {
  border-top: lightgray 1px solid;
}

.navigation {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.center {
  display: flex;
  width: 100%;
}

.right-bottom-pictures {
  display: flex;
  margin-right: 5px;

  height: 50%;
}

.contact {
  height: 115px;
  width: 65%;
  display: flex;
  justify-content: space-around;
  color: #717171;
}

.bottom {
  width: 65%;
  color: #717171;
  line-height: 24px;
  font-size: 16px;
}

.phone-contact {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  color: #717171;
}

.localisation-find {
  display: flex;
  margin-top: 20px;

  justify-content: center;
  color: #717171;
}

/* MAP */

.map {
  height: 200px;
  width: 340px;
}

/* TITLE CONDITION */

.vegstore-style,
.vegan-style {
  background-color: #22820e;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.vegetarian-style {
  background-color: #8a2091;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.vegoptions-style {
  background-color: #dc5e5c;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.icecream-style {
  background-color: #b0305b;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.other-style {
  background-color: #3775c5;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.healthstore-style {
  background-color: #b59905;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.professionnal-style {
  background-color: #006739;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.rest-style {
  background-color: #4d57a7;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}
/* 
HOVER CONDITION */

/* .vegstore-hover-style,
.vegan-hover-style {
  background-color: #22820e;
}

.vegetarian-hover-style {
  background-color: #8a2091;
}

.vegoptions-hover-style {
  background-color: #dc5e5c;
}

.icecream-hover-style {
  background-color: #b0305b;
}

.other-hover-style {
  background-color: #3775c5;
}

.healthstore-hover-style {
  background-color: #b59905;
}

.professionnal-hover-style {
  background-color: #006739;
}

.rest-hover-style {
  background-color: #4d57a7;
} */

/* PAGE ALL RESTAURANTS */

.all-the-page {
  display: flex;
  border: black solid 1px;
}
.map-all {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.global-map {
  width: 50%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.all-left-part {
  border: lightgrey solid 1px;
  height: 233px;
  width: 280px;
  margin-left: 25px;
  margin-bottom: 30px;

  text-align: center;
  border-radius: 10px;
  position: relative;
}

.all-left-part .image {
  display: block;
  width: 100%;
  height: auto;
}

.all-left-part .text {
  color: #fff;
  font-size: 16px;
  line-height: 1.5em;

  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.all-left-part .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.all-left-part:hover .hover {
  opacity: 0.8;
}

.all-left-part .normal {
  transition: 0.5s ease;
}

.all-left-part .hover {
  background-color: #22820e;
}
.stars {
  text-align: center;
}

.setPage {
  text-align: center;
}

.page-minus {
  background-color: #7b4ec3;
  border-radius: 10px;
  border: none;
  color: white;
  height: 100%;
  width: 150px;
  text-align: center;
  margin-right: 1rem;
}

.page-add {
  background-color: #7b4ec3;
  border-radius: 10px;
  border: none;
  color: white;
  height: 100%;
  width: 150px;
  text-align: center;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  margin-bottom: 20px;

  text-align: center;
  justify-content: space-around;
}

.icon-filter {
  width: 4rem;
}

/* PAGE RESEARCH */

.global-map-research {
  display: flex;
  /* width: 100%; */
}

.one-restaurant {
  border: lightgray solid 1px;
  height: 233px;
  margin-left: 2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 29%;
  text-align: center;

  position: relative;
}

.one-restaurant .image {
  display: block;
  width: 100%;
  height: auto;
}

.one-restaurant .text {
  color: #fff;
  font-size: 16px;
  line-height: 1.5em;

  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.one-restaurant .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.one-restaurant:hover .hover {
  opacity: 0.8;
}

.one-restaurant .normal {
  transition: 0.5s ease;
}

.one-restaurant .hover {
  background-color: #22820e;
  border-radius: 10px;
}

.left-part-research {
  margin-top: 50px;
  /* width: 50%; */
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.right-part-research {
  width: 50%;
  height: 100vh;
}

.setPage-research {
  text-align: center;
  margin-top: 15px;
  width: 100%;
}

.page-minus-research {
  background-color: #7b4ec3;
  border-radius: 10px;
  border: none;
  color: white;
  /* height: 100%;
  width: 150px; */
  text-align: center;
  margin-right: 1rem;
}

.page-add-research {
  background-color: #7b4ec3;
  border-radius: 10px;
  border: none;
  color: white;
  /* height: 100%;
  width: 150px; */
  text-align: center;
}

.pagination-research {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  /* overflow-y: scroll; */
}

.empty-search {
  border: black solid 2px;
  text-align: center;
  height: 70vh;
  display: flex;
  /* flex-direction: column; */
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-search p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;

  color: #7b4ec3;
}

.empty-search button {
  background-color: #7b4ec3;
  border-radius: 10px;
  border: none;
  color: white;
  height: 4rem;
  width: 8rem;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 16px;
}
/* 
FOOTER */

.container-footer {
  padding-left: 11rem;
  padding-right: 11rem;
  margin-right: auto;
  margin-left: auto;
  height: 23rem;
  border-top: lightgrey 1px solid;
}

.list {
  display: flex;
}

.list ul {
  margin-right: 5rem;
  margin-top: 2rem;
}

.list li {
  margin-top: 1rem;
  font-weight: 14px;
  color: #616161;
  font-weight: bold;
}
.list h3 {
  color: #9069cd;
  font-weight: bold;
  font-size: 20px;
}

.brand-logo img {
  width: 95px;
  height: 30px;
  object-fit: cover;
  margin-top: 1rem;
  margin-right: 1rem;
}

.iphone img {
  width: 80px;
  height: 170px;
  object-fit: cover;
  margin-top: 1rem;
  margin-right: 2rem;
}

.footer-bottom {
  padding-left: 11rem;
  padding-right: 11rem;
  height: 23rem;
  border-top: lightgrey 1px solid;
  display: flex;
  height: 3rem;
  background-color: #7b4ec3;
}

.left-part {
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.left-part p {
  margin-right: 1rem;
  margin-left: 3rem;
  margin-top: 1rem;
  font-weight: bold;
}

.media-logo {
  display: flex;
}
.media-logo img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  margin-right: 1rem;
  margin-top: 1rem;
}

/* MODAL */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
}

.modal-header {
  padding: 10px;
}

.modal-title {
  margin: 0;
  font-size: 28px;
}

.modal-body {
  display: flex;
  width: 830px;
  height: 550px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.modal-body-right {
  height: 100%;
  width: 55%;

  display: flex;
}

.modal-body-left {
  width: 45%;
  height: 100%;
}

.modal-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.signup-form input {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 250px;
  height: 2rem;
  border: 1px solid lightgrey;
}

.modal-button {
  height: 3rem;
  width: 9rem;
  border: 1px solid #7b4ec3;
  border-radius: 5px;
  background-color: #7b4ec3;

  color: white;
  font-size: 16px;
}

.modal-login {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

.modal-content-login {
  background-color: #fff;
  border-radius: 10px;
}

.modal-header-login {
  padding: 10px;
}

.modal-title-login {
  margin: 0;
  font-size: 28px;
}

.modal-body-login {
  display: flex;
  width: 830px;
  height: 550px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.modal-body-right-login {
  height: 100%;
  width: 55%;

  display: flex;
}

.modal-body-left-login {
  width: 45%;
  height: 100%;
}

.modal-picture-login {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup-form-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.signup-form-login input {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 250px;
  height: 2rem;
  border: 1px solid lightgrey;
}

.modal-login-button {
  height: 3rem;
  width: 9rem;
  border: 1px solid #7b4ec3;
  border-radius: 5px;
  background-color: #7b4ec3;

  color: white;
  font-size: 16px;
}
